In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [10]:
df = pd.read_csv("Social_Network_Ads.xls")

In [12]:
df.sample(5)

     Age  EstimatedSalary  Purchased
163   35            38000          0
74    32            18000          0
321   53            82000          1
391   47            23000          1
84    30            62000          0

# Train Test Split

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.drop("Purchased",axis=1),df["Purchased"],test_size=0.3,random_state=0)
X_train.shape, X_test.shape

((280, 2), (120, 2))

# Standard Scalar

In [17]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [18]:
scaler.mean_

array([3.78642857e+01, 6.98071429e+04])

In [19]:
X_train_scaled = pd.DataFrame(X_train_scaled, columns = X_train.columns)
X_test_scaled = pd.DataFrame(X_test_scaled, columns = X_test.columns)

In [20]:
X_train_scaled.sample(4)

          Age  EstimatedSalary
137 -1.849451        -1.295780
26   0.209385         0.034496
199 -1.163172        -1.556051
64   0.307425         0.294768

In [21]:
X_test_scaled.sample(4)

          Age  EstimatedSalary
84   1.974102        -0.919832
95  -1.065133         0.757472
97   0.993704        -1.064427
101 -0.574933         1.451530